{% extends 'base.html' %}

{% block body %}
  <div class="container">
    <div>Point set for {{filename}}</div>

    <!-- Create a div where the point set will be visualised -->
    <div id="point_set_vis" style="overflow:scroll;"></div>
  </div>

  <!-- Import D3 -->
  <script src="https://d3js.org/d3.v6.min.js"></script>

  <!-- Pass point_set to the JS script -->
  <script>
    var point_set = {{ point_set|tojson }}
  </script>

  <!-- JS script to visualise the point set -->
  <script type="text/javascript" src={{ url_for('static', filename='visualise_point_set.js') }}></script>

{% endblock %}