{% extends 'base.html' %}

{% block body %}
<div class="container">

  <!-- Visualisation -->
  {% if data %}
    <div style="display:flex;">
      <!-- This div will contain representations of found patterns -->
      <div>
        <div id="patterns_div" style="max-height: 600px; width:min-content; overflow:scroll;"></div>
      </div>
      <div style="overflow:scroll;">
        <!-- Point set visualisation -->
        <div id="point_set_div">

            <!-- Create a div where the point set will be visualised -->
            <div id="point_set_vis"></div>
        </div>
      </div>
    </div>

    <!-- Import D3 -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!-- Pass point_set to the JS script -->
    <script>
      var data = {{ data|tojson }}
    </script>

    <!-- JS script to visualise the point set -->
    <script type="text/javascript" src={{ url_for('static', filename='visualise_point_set.js') }}></script>
  {% endif %}

  <!-- Settings and parameters-->
  <div class="p-3 m-3 bg-success text-white rounded">

    <form action={{ url_for('analyse_file', filename=filename) }} class="form-group" method="POST">

      <div>
        <h3>Select tracks</h3>
          <div class="form-control mb-3">
            {% for i, track in tracks %}
              <div class="form-group form-check mb-1">
                <input type="checkbox" class="form-check-input" id="checkbox-{{ i }}" name="track-{{ i }}" checked>
                <label class="form-check-label" for=track-{{ track }}>{{ track.name }}</label>
              </div>
            {% endfor %}
          </div>
      </div>

      <div>
        <h3>Select algorithms</h3>
          <div id="algorithms"></div>
          <label for="algorithm-dropdown">Add algorithm</label>
          <br>
          <div class="d-inline-flex mb-3">
            <select class="form-select" aria-label="Select algorithm" name="algorithm-dropdown" id="algorithm-dropdown">
              <option value="SIATEC">SIATEC</option>
              <option value="time-warp invariant">time-warp invariant</option>
            </select>
            <input type=button class="btn btn-outline-light ms-2" value="+" id="add-algorithm"></input>
          </div>
      </div>

      <br>
      <input class="btn btn-outline-light mt-2" type="submit" id="trackSubmit"></input>
    </form>
  </div>

  <!-- JS Script for adding algorithms dynamically to form -->
  <script type="text/javascript" src={{ url_for('static', filename='dynamic_form.js') }}></script>

</div>
{% endblock %}