{% extends 'base.html' %}

{% block body %}
<div class="container">

  {% if point_set %}
    <div style="display:flex;">
      <!-- This div will contain representations of found patterns -->
      <div>
        <div id="patterns_div" style="max-height: 600px; width:min-content; overflow:scroll;"></div>
      </div>
      <div style="overflow:scroll;">
        <!-- Point set visualisation -->
        <div id="point_set_div">

            <!-- Create a div where the point set will be visualised -->
            <div id="point_set_vis"></div>
        </div>
      </div>
    </div>

    <!-- Import D3 -->
    <script src="https://d3js.org/d3.v6.min.js"></script>

    <!-- Pass point_set to the JS script -->
    <script>
      var point_set = {{ point_set|tojson }}
    </script>

    <!-- JS script to visualise the point set -->
    <script type="text/javascript" src={{ url_for('static', filename='visualise_point_set.js') }}></script>
  {% endif %}

  <!-- Settings and parameters-->
  <div class="p-3 m-3 bg-dark text-white rounded">
    <h2>Settings</h2>
    <h3>Choose tracks</h3>
    <form action={{ url_for('analyse_file', filename=filename) }} method="POST">
      {% for i, track in tracks %}
        <div class="form-group form-check mb-1">
          <input type="checkbox" class="form-check-input" id="checkbox-{{ i }}" name="{{ i }}" checked>
          <label class="form-check-label" for={{ track }}>{{ track.name }}</label>
        </div>
      {% endfor %}
      <input class="btn btn-outline-light mt-2" type="submit" id="trackSubmit"></input>
    </form>
  </div>

</div>
{% endblock %}