{% extends 'base.html' %}

{% block body %}
  <div class="container">
      <h1>Mupadie</h1>
      <p>
        Welcome! Mupadie is an application to test and evaluate musical pattern discovery algorithms. Start by uploading a piece of music as a MIDI file with the form above to visualise musical patterns in that piece.
      </p>
      <h2>The Algorithms</h2>
      <p>There are two algorithms implemented in Mupadie. They are:</p>
      <ul>
          <li><b>SIATEC</b>, presented in <i>Meredith, David, Kjell Lemström, and Geraint A. Wiggins. "Algorithms for discovering repeated patterns in multidimensional representations of polyphonic music." Journal of New Music Research 31.4 (2002): 321-345.</i></li>
          <li><b>transposition and time-warp invariant algorithm</b>, presented in <i>Laaksonen, Antti, and Kjell Lemström. "Transposition and time-warp invariant algorithm for detecting repeated patterns in polyphonic music." 6th International Conference on Digital Libraries for Musicology. 2019.</i></li>
      </ul>
      <p>
        You can also upload your own musical pattern discovery results as a JSON file, if you want to visualise patterns found by an algorithm not included in this application! <a href={{ url_for('json_instructions') }}>See further instructions uploading JSON files.</a>
      </p>
  </div>
{% endblock %}